<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    
    <body layout:fragment="body">
        <div class="container">

            </br>
            </br>

            <div class="row">
                <form method="post" th:action="@{/alumno}" th:object="${alumnoBusqueda}">                    
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" aria-describedby="basic-addon1" th:field="*{Nombre}">
                    </div>
                    <div class="input-group mb-3 col-md-2">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input type="text" class="form-control" placeholder="aPaterno" aria-label="aPaterno" aria-describedby="basic-addon1" th:field="*{ApellidoPaterno}">
                    </div>
                    <div class="input-group mb-3 col-md-2">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input type="text" class="form-control" placeholder="aMaterno" aria-label="aMaterno" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3 col-md-2">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input type="text" class="form-control" placeholder="rol" aria-label="rol" aria-describedby="basic-addon1">
                    </div>
                    
                    <div class="input-group mb-3 col-md-2">
                        <input type="Submit" class="form-control">
                    </div>
                    
                </form>

            </div>

            </br>
            <a th:href="@{/alumno/form/0}" class="btn btn-success">Agregar <i class="bi bi-person-plus-fill"></i></a>
            </br>
            </br>

            <table class="table  table-hover table-striped table-responsive">
                <thead class="table-dark">
                <th class="col-2">Imagen</th>
                <th class="col-4">Nombre</th>
                <th class="col-2">Contacto</th>
                <th class="col-3">Direccion</th>
                <th class="col-1"> Acciones</th>
                </thead>
                <tbody>
                    <tr th:each="alumnoDireccion : ${alumnosDireccion}">
                        <td><img  style="width: 100px" th:src="${alumnoDireccion.Alumno.Imagen == null } ? 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/2048px-User_icon_2.svg.png' :  'data:image/png;base64,'+ ${alumnoDireccion.Alumno.Imagen}"></td>
                        <td th:text="|${alumnoDireccion.Alumno.Nombre} ${alumnoDireccion.Alumno.ApellidoPaterno}|"></td>
                        <td></td>
                        <td>
                            <ul>
                                <li th:each="direccion : ${alumnoDireccion.Direcciones}" th:text="(${direccion.Calle} == null) ? 'Sin Direccion' : |${direccion.calle} ${direccion.NumeroExterior} ${direccion.NumeroInterior}|"></li>
                            </ul>
                        </td>
                        <td class="text-center"><a th:href="@{/alumno/form/{idAlumno}(idAlumno = ${alumnoDireccion.Alumno.IdAlumno})}" class="btn  btn-warning"><i class="bi bi-pencil-square"></i></a> <button class="btn btn-danger"><i class="bi bi-trash3-fill"></i></button></td>
                    </tr>

                </tbody>
            </table>

        </div>

    </body>
</html>
